doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    if username
      p Hello, #{first_name}
      a(href='/create') Create a new post

      if status == 'regular'
        a(href='become') Become a member!
      else if status == 'member'
        a(href='become') Become an admin!
      a(href='/logout') Log out
      
    else 
      a(href='/signup') Sign up! 
      a(href='/login') Log in!
    
    div(class='post-container')
      if post_list
        each post in post_list
          div(class='post')
            div(class='post-bar')
              if status === 'member'
                div(class='post-author') #{post.author.first_name} #{post.author.last_name}
                div(class='post-date') #{post.date.toDateString().slice(4, 15)}
              else 
                div(class='post-author') Anonymous
              
            div(class='post-text') #{post.text}
            if status === 'admin'
              button Delete post

